<section id="contact" class="contact section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Nous sommes là pour vous aider et vous guider dans votre parcours snowboard avec expertise et passion.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-5 mt-lg-0">
                {{ form_start(contactForm, {'action': path('app_home', {'_fragment': 'contact'}), 'attr': {'class': 'php-email-form'}}) }}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_widget(contactForm.fullname) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_widget(contactForm.email) }}
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        {{ form_widget(contactForm.subject) }}
                    </div>
                    <div class="form-group mt-3">
                        {{ form_widget(contactForm.message) }}
                    </div>
                    <div class="form-check mt-3">
                        {{ form_widget(contactForm.RGPDConsent) }} {{ form_label(contactForm.RGPDConsent) }}
                    </div>
                    {% if not contactForm.vars.valid %}
                        <div class="error-message d-block mt-3">
                            {{ form_errors(contactForm.fullname) }}
                            {{ form_errors(contactForm.email) }}
                            {{ form_errors(contactForm.subject) }}
                            {{ form_errors(contactForm.message) }}
                            {{ form_errors(contactForm.RGPDConsent) }}
                        </div>
                    {% endif %}
                    <div class="text-center mt-3">
                        <button type="submit">Envoyer <i class="bx bx-mail-send"></i></button>
                    </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>
