<section id="tricks" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Tricks</h2>
            <p>Envolez-vous vers de nouveaux sommets de sensations avec nos tricks époustouflants, où l'audace et la maîtrise s'unissent pour repousser les limites de la glisse.</p>
        </div>
        <div class="row portfolio-container">
            {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        {% if trick.pictures|first %}
                            <img src="/assets/img/uploads/{{ trick.pictures|first.name }}" class="img-fluid" alt="Image principale du trick">
                        {% else %}
                            <img src="/assets/img/default-trick-img.png" class="img-fluid" alt="Image par défaut">
                        {% endif %}
                        <div class="portfolio-info">
                            <h4>{{ trick.name }}</h4>
                            <p>
                                {% for tag in trick.tags %}
                                    {% if loop.last == false %}
                                        {{ tag.name }}, 
                                    {% else %}
                                        {{ tag.name }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <div class="portfolio-links">
                                <a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" title="Voir plus"><i class="bx bxs-show"></i></a>
                                {% if app.user %}
                                    {% if trick.user.id == app.user.id %}
                                        <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" title="Modifier"><i class="bx bxs-edit-alt"></i></a>
                                        <a href="#" title="Supprimer" data-bs-toggle="modal" data-bs-target="#trick{{ trick.id }}"><i class="bx bxs-trash-alt"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="trick{{ trick.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="auto" aria-labelledby="trickLabel{{ trick.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="trickLabel{{ trick.id }}">{{ trick.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer cette figure ?
                            </div>
                            <form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.slug) }}">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                    <button type="submit" class="btn btn-danger">Oui</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
