{% extends 'base.html.twig' %}

{% block title %}{{ trick.name}} (Modification) - Snowtricks{% endblock %}

{% block main %}
    <section id="banner">
        <img class="background-image" src="{{ asset('assets/img/') }}{% if trick.pictures|first %}uploads/{{ trick.pictures|first.name }}{% else %}default-trick-img.png{% endif %}" alt="Image de mise en avant" />
    </section>
    <section class="portfolio trick pt-0">
        {{ form_start(trickForm, {'attr': {'class': 'trick-form'}}) }}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-check mt-3">
                            <div class="section-title text-start pb-0">
                                <h2>{{ form_label(trickForm.name) }}</h2>
                            </div>
                            {{ form_widget(trickForm.name) }}
                            <div class="form-error text-danger">
                                {{ form_errors(trickForm.name) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pictures" data-index="{{ trickForm.pictures|length > 0 ? trickForm.pictures|last.vars.name + 1 : 0 }}" data-prototype="{{ include('trick/_picture.html.twig', {pictureForm: trickForm.pictures.vars.prototype})|e("html_attr") }}">
                    <div class="row">
                        <div class="col mb-3">
                            <button type="button" class="btn-new btn btn-primary btn-sm mt-3" data-collection-holder-class="pictures">Ajouter une image</button>
                        </div>
                    </div>
                    <div class="row">
                        {% for picture in trickForm.pictures %}
                            {% if picture %}
                                <div class="col-lg-4 col-md-6 portfolio-item">
                                    <img src="{{ asset('assets/img/uploads/') }}{{ picture.vars.data.name }}" class="img-fluid" alt="">
                                    {{ include('trick/_picture_edit.html.twig', {pictureForm: picture}) }}
                                </div>
                            {% else %}
                                {{ include('trick/_picture_edit.html.twig', {pictureForm: picture}) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="videos" data-index="{{ trickForm.videos|length > 0 ? trickForm.videos|last.vars.name + 1 : 0 }}" data-prototype="{{ include('trick/_video.html.twig', {videoForm: trickForm.videos.vars.prototype})|e("html_attr") }}">
                    <div class="row">
                        <div class="col mb-3">
                            <button type="button" class="btn-new btn btn-primary btn-sm mt-3" data-collection-holder-class="videos">Ajouter une vidéo</button>
                        </div>
                    </div>
                    <div class="row">
                        {% for video in trickForm.videos %}
                            {% if video %}
                                <div class="col-lg-4 col-md-6 portfolio-item">
                                    {% if video.vars.data.id is not null %}
                                        <iframe class="video-edit" src="https://www.youtube.com/embed/{{ video.vars.data.videoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    {% endif %}
                                    {{ include('trick/_video_edit.html.twig', {videoForm: video}) }}
                                </div>
                            {% else %}
                                {{ include('trick/_video_edit.html.twig', {videoForm: video}) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    {% if not trickForm.vars.valid %}
                        <div class="form-error text-danger">
                            {{ form_errors(trickForm) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="section-title text-start pb-0">
                            <h2>{{ form_label(trickForm.description) }}</h2>
                        </div>
                        {{ form_widget(trickForm.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check mt-3">
                            <div class="section-title text-start pb-0">
                                <h2>{{ form_label(trickForm.tags) }}</h2>
                            </div>
                            {{ form_widget(trickForm.tags) }}
                            <div class="form-error text-danger">
                                {{ form_errors(trickForm.tags) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit">Modifier la figure</button>
                </div>          
            </div>
        {{ form_end(trickForm) }}
    </section>
{% endblock %}
